.center{
  text-align: center;
  width: auto;
  font-size: 28px;
}

div {
  position: absolute;
  left:20%;
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    124px 124px 28px 0 rgba(34, 33, 81, 0.50);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
    top: 30%;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}
